.banner-bg-info {
  /* background-color: #000000; */
  /* background-image: url("../../../images/bgimg.jpg"); */
}
.categories img {
  width: 100px;
}
.categories img {
  width: 100px;
}
.gggg{
  background-image: url('https://i.pinimg.com/originals/70/a9/cc/70a9cc38b030b0b0d36c8aa824d464d2.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text{
  
  width: 75%;
  margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    rgba(0, 0, 0, 0.452),
    rgba(0, 0, 0, 0.555)
  );
  padding-bottom: 40px;
}